{% load static %}

<!-- START SECTION BANNER -->
<div class="mt-4 staggered-animation-wrap">
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-7 offset-lg-3">
                <div class="banner_section shop_el_slider">
                    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow"
                        data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item {% if  banner.is_default == True %}active{% endif %} background_bg" data-img-src={{ banner.picture.url }}>
                                <div class="banner_slide_content banner_content_inner">
                                    <div class="col-lg-7 col-10">
                                        <div class="banner_content3 overflow-hidden">
                                            <h5 class="mb-3 staggered-animation font-weight-light"
                                                data-animation="{% if LANGUAGE_CODE == 'fa' %}slideInRight{% else %}slideInLeft{% endif %}" data-animation-delay="0.5s">Get up to
                                                50% off Today Only!</h5>
                                            <h2 class="staggered-animation" data-animation="{% if LANGUAGE_CODE == 'fa' %}slideInRight{% else %}slideInLeft{% endif %}"
                                                data-animation-delay="1s">Dual Camera 20MP</h2>
                                            <h4 class="staggered-animation mb-4 product-price"
                                                data-animation="{% if LANGUAGE_CODE == 'fa' %}slideInRight{% else %}slideInLeft{% endif %}" data-animation-delay="1.2s"><span
                                                    class="price">$45.00</span><del>$55.25</del></h4>
                                            <a class="btn btn-fill-out btn-radius staggered-animation text-uppercase"
                                                href={{ banner.url_redirect }} data-animation="{% if LANGUAGE_CODE == 'fa' %}slideInRight{% else %}slideInLeft{% endif %}"
                                                data-animation-delay="1.5s">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators indicators_style3">
                                <li data-target="#carouselExampleControls" data-slide-to={{ forloop.counter0 }} class="{% if  banner.is_default == True %}active{% endif %}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->