<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>page_add</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
  </head>  

<body style="text-align: center;">  
<form name="PostForm" method="POST" class="post-form" action="{% url 'product:page_list' %}" enctype="multipart/form-data">  
  {% csrf_token %}  
  <div class="container">  
    <br>  
    <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
        <h3>Enter Details</h3>  
      </div>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">title:</label>  
    <input type="text" name="title" /> 
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">summary:</label>  
    <input type="text" name="summary" />
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">stock:</label>  
    <input type="number" name="stock" /> 
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">category:</label>  
    <input type="text" name="category" value="bmv"/>
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">picture:</label>  
    <input type="file" accept=".jpg"name="picture" />
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">created:</label>  
    <input type="time" name="time" />
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">modified:</label>  
    <input type="time" name="time" />
  </div>
  <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" value="add" class="btn btn-primary"><a href="{% url 'product:page_list' %}">Submit</a></button>  
    </div>  
  </div>  
    </div>  
</form>  
<div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary"><a href="{% url 'product:page_list' %}">انصراف</a></button>  
  </div>  
</div>  
</body>  
</html>  
